.fade-out {
  animation: fadeOut 1s cubic-bezier(0.2, 1, 0.2, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.progress {
  -webkit-appearance: none;
}

.progress:focus {
  outline: none;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000000;
  cursor: pointer;
  height: 100vh;
  width: 2px;
  border-radius: 0;
}

.progressBar::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 18px solid rgb(185 28 28);
  transform: translateX(-50%);
}

#active-tab {
  background-color: rgb(51 65 85);
}

/* input 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}
